#map_header
{
  position:absolute;
  top:30px;
  left:30px;
  margin-top:2px;
  margin-left:5px;
  text-align:left;
  font-family:sans-serif;
  text-shadow: 2px 2px 2px #FFFFFF;
}
#shuttle_logo
{
  position:absolute;
  top:30px;
  width:403px;
  height:100px;
  left:50%;
  margin-left:-201px;
  background-image:url(../images/full_map/biglogo.png);
  z-index:2;
 }
body
{
  background-image:url(../images/embed/bg_tile.png);
  margin:0px;
  padding:0px;
  height:auto;
  background-color:#999999;
}
#mapblock
{
  position:absolute;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
}
#map_canvas
{
  position:absolute;
  right:30px;
  left:30px;
  top:30px;
  bottom:30px;
  border:1px solid black;
}
#nav_container
{
  display:block;
  position:absolute;
  right:40px;
  bottom:50px;
}
#nav_container a img
{
  border: none;
}
#nav
{
  display:block;
  background-color:black;
  padding-top:1px;
  height:90px;
}
#nav a
{
  display:block;
  width:64px;
  height:15px;
  background-color:white;
  text-align:center;
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  line-height:15px;
  border-style:solid;
  border-width:1px;
  border-color:#707070;
  border-top-color:#D0D0D0;
  border-left-color:#D0D0D0;
  margin:1px;
  margin-top:0px;
  text-decoration:none;
  color:black;
}
#nav a:visited
{
  color:black;
}
#nav a:hover
{
  border-color:#D0D0D0;
  border-top-color:#707070;
  border-left-color:#707070;
}
.hoverdiv
{
  font-family: arial;
  display:none;
  position:absolute;
  left:50%;
  width:400px;
  margin-left:-200px;
  top:40%;
  background:white;
  padding:10px;
  -moz-box-shadow: 5px 5px 5px #000; /* CSS3 */
  -webkit-box-shadow: 5px 5px 5px #000; /* CSS3 */
  box-shadow: 5px 5px 5px #000; /* CSS3 */
}
.hoverdiv p
{
  margin-top:0px;
  margin-bottom:10px;
}
.close
{
  float:right;
}
#right
{
  background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1));
  background-image:-webkit-gradient(linear,left bottom,right bottom,color-stop(0%, rgba(0,0,0,0)),color-stop(100%, rgba(0,0,0,1)));
  width:30px;
  right:0px;
  position:absolute;
  height:100%;
}
#left
{
  background-image:-moz-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,1));
  background-image:-webkit-gradient(linear,left bottom,right bottom,color-stop(0%, rgba(0,0,0,1)),color-stop(100%, rgba(0,0,0,0)));
  width:30px;
  position:absolute;
  height:100%;
}
#top
{
  background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1));
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%, rgba(0,0,0,1)),color-stop(100%, rgba(0,0,0,0)));
  width:100%;
  position:absolute;
  height:30px;
}
#bottom
{
  background-image:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1));
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%, rgba(0,0,0,0)),color-stop(100%, rgba(0,0,0,1)));
  width:100%;
  bottom:0px;
  position:absolute;
  height:30px;
}

/* the overlayed element */
.simple_overlay {

	/* must be initially hidden */
	display:none;

	/* place overlay on top of other elements */
	z-index:10000;

	/* styling */
	background-color:#FFF;

	width:400px;
	min-height:400px;
	border:1px solid #666;
	padding: 25px;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../images/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/* styling for elements inside overlay */
.contentWrap {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}

.contentWrap h3 {
	color:#aba;
	font-size:15px;
	margin:0 0 -10px 0;
}
