<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Is Admin:</b>
  <%= @user.is_admin? ? "Yes" : "No" %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
