<h1>New stop</h1>

<% form_for(@stop) do |f| %>
  <%= f.error_messages %>
  <%= render :partial=>"form", :locals=>{:f=>f,:stop=>@stop} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', stops_path %>
