<div id="toplinks">
<div id="tbframe_padding">
  <table class="topbar_frame" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td width="175"><a href="http://myrpi.org"><img src="http://myrpi.org/images/myrpi/myrpi_cropped.gif" alt="myRPI" border="0" /></a></td>
      <td>
        <div class="pdmenu">
          <ul>
            <li><a href="http://myrpi.org/myrpi_link">Links</a></li>
            <li><a href="http://myrpi.org/scavnet">ScavNet</a></li>
            <li><a href="http://myrpi.org/hosting">Hosting</a></li>
            <li><a href="http://shuttles.rpi.edu">Shuttles</a></li>
            <li><a href="http://myrpi.org/adlib">AdLib</a></li>
            <li><a href="http://studentsenate.rpi.edu/">Student Senate</a></li>
            <li><a href="http://signage.rpi.edu/">Concerto</a></li>
          </ul>
        </div>
      </td>
      <td class="login">
  <p><a href="/login">Log in</a></p>
</td>
    </tr>
  </table>
</div>
</div>