<% content_for :title, @page.name %>
<div class="main-title"><%= @page.name %></div>
<div><%=raw RedCloth.new(@page.content).to_html %></div>
<div style="clear:both"></div>
<div>
  <%= link_to 'Edit', edit_page_path(@page) if can? :update, @page %> |
  <%= link_to 'Back', pages_path %>
</div>
<div style="clear:both"></div>
